.main{
    width: 100%;
    position: relative;
    height: 5rem;
    background-color: lightgrey ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 8;
   
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    margin-left: 1rem;
}
.input{
 margin-top: 1rem;
    width: 15rem;
    height: 2.4rem;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 2rem;
    margin-right: 2rem;
    border: none;

}
.CustomButton{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}